<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/app1.js" defer></script>

    <title>Page 1</title>
</head>

<body>
    <div class="p-5 relative bottom-22 left-2 sm:bottom-0 sm:left-0 flex flex-col justify-center bg-white rounded-lg">
        <div class="">
            <h1 class="font-bold text-2xl text-[var(--marine-blue)]">Pesonal info</h1>
            <div>
                <p class="text-[12px] text-[var(--cool-gray)]">Please Provide your name, email and phone number</p>
            </div>
        </div>
        <div class="mt-10">
            <form action="" method="post" class="flex flex-col gap-5">
                <div class="">
                    <label for="name" class="text-[var(--marine-blue)] text-[14px]">Name</label>
                    <input placeholder="e.g Stephen King" type="text" name="name" id="name"
                        class="border border-[var(--cool-gray)] rounded-lg p-2 w-full text-[14px]" required>
                </div>
                <div class="">
                    <label for="email" class="text-[var(--marine-blue)] text-[14px]">Email</label>
                    <input placeholder="e.g stephenking@gmail.com" type="email" name="email" id="email"
                        class="border border-[var(--cool-gray)] rounded-lg p-2 w-full text-[14px]" required>
                </div>
                <div class="">
                    <label for="phone" class="text-[var(--marine-blue)] text-[14px]">Phone</label>
                    <input placeholder="e.g +1 234 567 890" type="tel" name="phone" id="phone"
                        class="border border-[var(--cool-gray)] rounded-lg p-2 w-full text-[14px]" required>
                </div>
                <div class="">
                    <button type="submit" id="submit-btn"
                        class="bg-[var(--marine-blue)] text-white rounded-lg p-2 w-full text-[14px] hidden">Next</button>
                </div>
            </form>
        </div>
        <div class="mt-10"></div>
    </div>
</body>

</html>